* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#wrap {
  width: 100%;
  background-color: #eeeeee;
}

#top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0px 10px;
  position: absolute;
  width: 100%;
  top: 0;
}
#top div.container {
  font-family: Raleway;
  margin: 0 auto;
  padding: 10em 3em;
  text-align: center;
}
#top div.container a {
  color: #FFF;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
#top div.topBotomBordersIn a:before, #top div.topBotomBordersIn a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
#top div.topBotomBordersIn a:before {
  top: 0px;
  transform: translateY(-10px);
}
#top div.topBotomBordersIn a:after {
  bottom: 0px;
  transform: translateY(10px);
}
#top div.topBotomBordersIn a:hover:before, #top div.topBotomBordersIn a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

#first {
  width: 100%;
  height: 970px;
  position: relative;
}
#first .test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 20rem;
  color: white;
  text-shadow: 0 1px 0 rgb(190, 190, 190), 0 2px 0 rgb(185, 185, 185), 0 3px 0 rgb(180, 180, 180), 0 4px 0 rgb(175, 175, 175), 0 5px 0 rgb(170, 170, 170), 0 6px 0 rgb(165, 165, 165), 0 7px 0 rgb(160, 160, 160), 0 8px 0 rgb(155, 155, 155), 0 9px 0 rgb(150, 150, 150), 0 0 10px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.2), 0 0 75px rgba(0, 0, 0, 0.15), 0 0 100px rgba(0, 0, 0, 0.1);
}

#second {
  width: 100%;
  height: 550px;
}
#second #intro {
  width: 95%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 50px;
  padding: 50px 160px;
}
#second #intro em {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 1rem;
}
#second #intro p {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 2rem;
  font-weight: 600;
  margin-top: 50px;
  line-height: 3rem;
}
#second #intro p strong {
  display: inline-block;
  height: 36px;
  padding: 0 8px;
  line-height: 36px;
  position: relative;
}
#second #intro p strong .text {
  position: relative;
  z-index: 2;
}
#second #intro p strong .txtbg {
  transform: scaleX(1);
  transition: transform 0.8s cubic-bezier(0.18, 0.94, 0.45, 1);
  transform-origin: left center;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 1;
  background-color: #c6ff97;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
#second #intro .btn {
  margin-top: 30px;
  display: inline-block;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: dodgerblue;
  color: #fff;
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 1.4rem;
}

#third {
  width: 100%;
  height: 960px;
}
#third .scroll-slider {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh;
}
#third .scroll-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
#third .scroll-slide {
  flex: 1 0 75vw;
  max-width: 75vw;
  height: 100%;
}
#third .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#third .item-container {
  position: relative;
}
#third .item-title {
  font-size: 4vw;
  font-weight: bold;
  line-height: 1;
}
@media (min-width: 40em) {
  #third .item-body {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 50%;
    transform: translate(-25%, -50%);
  }
}
#third .tag {
  margin-right: 0.5rem;
}
#third .tag > a {
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.25);
  color: #FFF;
}